<!DOCTYPE html>
<html lang="en">
<head>
    <title>Codetector</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <style>
        {{ css_content|safe }}
    </style>
    <script>
        {{ js_content|safe }}
    </script>
</head>
<body>

<section>
    <ul>
    <li>Arduino</li>
        <li>Assembly</li>
        <li>C</li>
        <li>C#</li>
        <li>C++</li>
        <li>CSS</li>
        <li>CSV</li>
    <li>Dockerfile</li>
    <li>Groovy</li>
    <li>HTML</li>
        <li>HTML+PHP</li>
    <li>JSON</li>
    <li>JSX</li>
    <li>Java</li>
    <li>JavaScript</li>
        <li>Kotlin</li>
    <li>Makefile</li>
    <li>Markdown</li>
    <li>PHP</li>
    <li>Python</li>
        <li>Ruby</li>
        <li>Rust</li>
        <li>SCSS</li>
        <li>SQL</li>
        <li>SVG</li>
        <li>Sass</li>
        <li>Shell</li>
        <li>Swift</li>
        <li>XML</li>
        <li>YAML</li>
  </ul>
</section>

<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Codetector Chat
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>

    <main id="response" class="msger-chat">
        <div class="msg left-msg">
            <div
                    class="msg-img"
                    style="background-image: url(https://media.discordapp.net/attachments/1151459295037239367/1153703413943648266/logo2.png?ex=65cb8088&is=65b90b88&hm=d2bcfbc3423c884e3f86d94eb0d0f69c25bc72366bca23de5296ac24a52539b6&=&format=webp&quality=lossless&width=461&height=461)"
            ></div>

            <div class="msg-bubble">
                <div class="msg-info">
                    <div class="msg-info-name">Hector</div>
                    <div class="msg-info-time">12:45</div>
                </div>

                <div class="msg-text">
                    Hi, welcome to Codetector! Go ahead and send me a code. 😄
                </div>
            </div>
        </div>
    </main>

    <form class="msger-inputarea" method="post" action="/">
        <textarea class="msger-input form-control" type="textarea" id="prompt" name="prompt" rows="3"></textarea>
        <div style="padding-left : 30px;"/>
        <div>
             <button>
            <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="240" height="240">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="#FFFF"
                              d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                </div>
            </div>
            <span>Send</span>
        </button>
        </div>

    </form>
</section>
</body>
</html>
